<div class="app">
  <nz-layout>
    <nz-header>
      <div class="wrapper">
        <div class="left">
          <h1>Music</h1>
          <ul nz-menu nzMode="horizontal" nzTheme="dark">
            <li nz-menu-item>发现</li>
            <li nz-menu-item>菜单</li>
          </ul>
        </div>
      </div>
      <!-- right -->
      <div class="right">
        <div class="search">
          <nz-input-group>
            <input type="text" />
          </nz-input-group>
        </div>
      </div>
    </nz-header>
  </nz-layout>
</div>